<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.groupid.shop.dao.UserDao">

	<select id="getUser" parameterType="string"
		resultType="com.groupid.shop.domain.User">
		SELECT user_info_id AS userId, password, phone_number, email, sex, birthday, home_address
		FROM user_info WHERE
		user_info_id = #{userId} AND is_deleted = 0
	</select>
</mapper>